.post-reactions-button {
  color: rgb(83, 100, 113);
  text-decoration: none;
}

.repost:hover {
  color: rgb(0, 186, 124);
}

.reposted {
  color: rgb(0, 186, 124);
}

.liked {
  color: rgb(249, 24, 128);
}

.like:hover {
  transition: color 0.2s;
  color: rgb(249, 24, 128);
}

.bookmarked {
  color: rgb(29, 155, 240);
}

.bookmark:hover {
  transition: color 0.2s;
  color: rgb(29, 155, 240);
}

.post-form {
  width: 100%;
  border: none;
  resize: none;
}
